---
swagger: "2.0"
info:
  description: "Image  services."
  version: "v1"
  title: "Kingpick Image API"
host: "kingpick-image-api.endpoints.ciandt-cognitive-sandbox.cloud.goog"
basePath: "/v1"
tags:
- name: "image"
  description: "Image"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /images:
    post:
      tags:
      - "image"
      description: "Adds an image signature to the database."
      operationId: "add"
      produces:
      - "application/json"
      parameters:
      - name: "tenant_id"
        in: "query"
        description: "tenant id"
        required: true
        type: "string"
      - name: "project_id"
        in: "query"
        description: "project id"
        required: true
        type: "string"
      - in: "body"
        name: "image_request"
        description: "Image to create"
        required: true
        schema:
          $ref: "#/definitions/ImageRequest"
      responses:
        201:
          description: "The newly created image"
          schema:
            $ref: "#/definitions/ImageResponse"
      x-swagger-router-controller: "swagger_server.controllers.image_controller"
definitions:
  ImageRequest:
    type: "object"
    properties:
      job_id:
        type: "string"
        description: "Job id."
      original_uri:
        type: "string"
        description: "The image to add to the database."
      annotations:
        $ref: "#/definitions/Annotation"
  ImageResponse:
    type: "object"
    properties:
      id:
        type: "string"
        description: "Image id."
      job_id:
        type: "string"
        description: "Job id."
      original_uri:
        type: "string"
        description: "The image to add to the database."
      annotations:
        $ref: "#/definitions/Annotation"
  Annotation:
    type: "object"
    additionalProperties:
      type: "string"
